.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.menuLink {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: var(--primary);
  color: var(--text-over-primary);
  transition: all 0.1s ease-in-out;
  padding: 12px;
  border-radius: 8px;
}

.menuLink:hover {
  filter: brightness(80%);
}

.menuLink svg {
  width: 24px;
  height: 24px;
}
