:root {
  --gray-100: #e6e9f0;
  --gray-200: #cdd3e1;
  --gray-300: #aab3cc;
  --gray-400: #555f7d;
  --gray-500: #454f6a;
  --gray-600: #363d56;
  --gray-700: #272f43;
  --gray-800: #181f2e;
  --gray-900: #0a0f1a;

  --background-table-row: #181f2e;
  --background: #121019;

  --primary-light: #e9d5ff;
  --primary: #a78bfa;
  --primary-dark: #7c3aed;

  --link-color: #c084fc;
  --link-hover: #a855f7;

  --success: #a78bfa;
  --warning: #eab308;
  --error: #991b1b;
  --info: #0ea5e9;

  --text-over-primary: #0a0f1a;
  --text-over-primary-dark: #e6e9f0;
  --text-over-primary-light: #0a0f1a;
  --text-over-success: #0a0f1a;
  --text-over-warning: #0a0f1a;
  --text-over-error: #e6e9f0;
  --text-over-info: #0a0f1a;

  --text-default: #e6e9f0;
  --text-muted: #aab3cc;

  --disabled: #555f7d;
  --text-disabled: #aab3cc;

  --toastify-color-light: var(--text-default);
  --toastify-color-dark: var(--text-default);
  --toastify-color-info: var(--info);
  --toastify-color-success: var(--success);
  --toastify-color-warning: var(--warning);
  --toastify-color-error: var(--error);
  --toastify-text-color-light: #0a0f1a;
  --toastify-text-color-dark: #e6e9f0;
  --toastify-color-progress-light: var(--primary);
  --toastify-color-progress-dark: var(--primary);
}

:root[data-theme='light'] {
  --gray-100: #f8fafc;
  --gray-200: #f1f5f9;
  --gray-300: #e2e8f0;
  --gray-400: #cbd5e1;
  --gray-500: #94a3b8;
  --gray-600: #64748b;
  --gray-700: #475569;
  --gray-800: #1e293b;
  --gray-900: #0f172a;

  --background-table-row: #f3f0ff;
  --background: #fdfaff;

  --text-default: #1e293b;
  --text-muted: #64748b;

  --link-color: #7c3aed;
  --link-hover: #6d28d9;

  --toastify-text-color-light: #1e293b;
  --toastify-text-color-dark: #f8fafc;

  --btn-bg: #f1f5f9;
  --btn-icon: #7c3aed;
}
