.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding-top: 32px;
}

.logoLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-size: 42px;
  font-weight: bold;
  text-decoration: none;
  color: var(--primary);
  transition: all 0.1s ease-in-out;
}

.logoLink:hover {
  filter: brightness(80%);
}

.logoLink svg {
  width: 64px;
  height: 64px;
}
