.buttonContainer button {
  min-width: auto;
  margin: 0;
  padding: 10px;
}

.responsiveTable {
  overflow-x: auto;
  border-radius: 8px;
}

.responsiveTable table {
  width: 100%;
  min-width: 640px;
  font-size: 16px;
  border-collapse: collapse;
}

.responsiveTable th {
  background-color: var(--gray-600);
}

.responsiveTable td {
  background-color: var(--gray-800);
}

.responsiveTable th,
.responsiveTable td {
  padding: 16px;
  text-align: left;
  border-bottom: 2px solid var(--gray-700);
}

.thSort {
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.thSort:hover {
  filter: brightness(80%);
}

.texto {
  text-align: center;
}
